/* estilos Head ------------------------------------------------------*/

.titulo{
    color: blue;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    border: 2px solid #323333;
    border-radius: 10px;
    padding: 16px 24px;
    margin: 10px auto;
    width: fit-content;
}

/* estilos del nav */


/* estilos main y footer--------------------------------------------------*/
main{
    margin: 10px
}

footer{
    background-color: #979292;
    padding: 20px;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}
.subtitulo{
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: larger;
    text-align: center;
    margin-top: 10px;
}
.titulo-footer{
    color: red;
    font-family: "Nunito Sans", sans-serif;
}
p{
   font-family: "Nunito Sans", sans-serif; 
}

/* estilo imagen index */
.imagen-index{
    margin: 10px;
}
.acercade{
    width: 1000px;
}
/* LI de formulario */
.liform{
    list-style-type: square;
}



