$fuente: 1.5em;
$margen: 0 auto;
$alineacion: center;
$width: 100%;
$color-boton: blue;
$info-color1: rgba(197, 182, 182, 0.295);
$info-color2: rgba(136, 163, 161, 0.329);
$info-color3: black;
$color-banners: rgb(114, 146, 216);
$color-titulo: rgb(235, 213, 22);
$color-footer: #d3d3d3;
$color-dudas: rgb(0, 0, 0);
$color-barranav: rgb(78, 77, 77);
$color-barranav2: rgb(161, 160, 160);
$color-barraitem: gold;
$color-body: #1b1b1b;
$color-texto: white