$fuente: 1.5em;
$margen: 0 auto;
$alineacion: center;
$width: 100%;
$color-boton: blue;
$info-color1: rgba(197, 182, 182, 0.295);
$info-color2: rgba(136, 163, 161, 0.329);
$info-color3: black;
$color-banners: rgb(114, 146, 216);
$color-titulo: blue;
$color-footer: #d3d3d3;
$color-dudas: rgb(24, 1, 1);
$color-barranav: rgb(34, 34, 34);
