@use "../Base/tipografia" as *;
@use "../Utilites/variables" as *;


.acercade-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "subtitulo-acercade subtitulo-acercade"
        "texto-acercade imagen-acercade";
    gap: 24px;
    align-items: start;
    width: $width;
    max-width: 1100px;
    margin: $margen;
}

.subtitulo-acercade{
    grid-area: subtitulo-acercade;
    font-size: $fuente;
    text-align: $alineacion;
    margin: 10px 0 0 0;
}

.texto-acercade{
    grid-area: texto-acercade;
    align-self: start;
}

.imagen-acercade{
    grid-area: imagen-acercade;
    width: $width;
    max-width: 500px;
    justify-self: end;
    align-self: start;
}
.info-imagenes{
    display: flex;
    flex-direction: column;
    margin: $margen;
    width: $width;
    max-width: 1100px;
        & p{text-align: justify;}
        & h2{
        text-align: $alineacion;
        font-size: $fuente;
        margin: 20px;
        }
        & img{
            display: block;
            width: $width;
            max-width: 1000px;
            height: auto;
            margin: $margen;
        }
    }
