@use "../Base/tipografia" as *;
@use "../Utilites/variables" as *;

.titulo{
    text-align: $alineacion;
    border: 2px solid #323333;
    border-radius: 10px;
    padding: 16px 24px;
    margin: 10px auto;
    width: fit-content;
    transition: transform 0.5s;
    & a{
        color: $color-titulo;
        text-decoration: none;
    }
    &:hover{
        transform: scale(1.1);
    }
}
body {
    font-family: $tipografia;
}
main{
    margin: 10px;
}
footer{
    background-color: $color-footer;
    padding: 20px;
    text-align: $alineacion;
    position: static;
    width: $width;
    margin-top: 20px;
}
.titulo-footer{
    color: $color-dudas;
}
.barranav{
    background-color: $color-barranav;
}
