@use "../Utilites/mixins";
@use "../Utilites/variables" as *;

.subtitulo{
    color: black;
    font-size: larger;
    text-align: $alineacion;
    margin-top: 10px;
}
.imagen-index {
    @include mixins.flex(row, center, center);
    width: 90%;
    margin: auto;
}
.foto-index {
    display: block;
    width: $width;
    height: auto;
    margin: $margen;
}