@use "../Utilites/variables" as *;
@use "../utilites/mixins";

.titulo-info {
    text-align: $alineacion;
    margin: 20px auto;      
}

.info1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "info1-text info1-text"
    "info2-text info2-img"
    "info3-text info3-img";
    gap: 20px;
    align-items: start;
}
.info1-text {
    grid-area: info1-text;
    text-align: center;
}
.info2-text{
    grid-area: info2-text;
    margin-top: 100px;
    margin-left: 10px; 
}
.info3-text{
    grid-area: info3-text;
    margin-top: 50px;
    margin-left: 10px;
}
.info1-img {
    grid-area: info1-img;
}
.info2-img{
    grid-area: info2-img;
}
.info3-img{
    grid-area: info3-img;
    max-width: 90%;
}
.info4-text, .info5-text, .info6-text, .info7-text {
    text-align: $alineacion;
    margin-top: 10px;
}
.info5-img {
    display: block;
    width: $width;
    max-width: 1000px;
    height: auto;
    margin: $margen;
}