@use "../Utilites/variables" as *;
@use "../utilites/mixins";

.titulo-info {
    text-align: $alineacion;
    margin: 20px auto;      
}
.info-gen {
    & h3{
        text-align: $alineacion;
    }
    & p {
        text-align: justify;
    }
    & li{
        margin: 10px;
    }
}
.info-gen1, .info-gen3, .info-gen5{
    @include mixins.info-style($info-color1, $info-color3);
}
.info-gen2, .info-gen4 {
    @include mixins.info-style($info-color2, $info-color3);
}
.info-gen6 {
    @include mixins.info-style($color-banners, $info-color3);
    width: 100%;
    border-radius: 0;
    color: black; 
}
.info1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "info1-text info1-img"
    "info2-text info2-img";
    gap: 20px;
    align-items: start;
}
.info1-text {
    grid-area: info1-text;
    margin-top: 100px;
    margin-left: 10px;
    @include mixins.info-style($info-color1, $info-color3);
}
.info2-text{
    grid-area: info2-text;
    margin-top: 50px;
    margin-left: 10px;
    @include mixins.info-style($info-color2, $info-color3);
}
.info1-img {
    grid-area: info1-img;
    display: flex;
    & img{
        width: $width;
        height: auto;
    }
}
.info2-img{
    grid-area: info2-img;
    display: flex;
    & img{
        width: $width;
        height: auto;
    }
}
.info3-text, .info4-text, .info5-text, .info6-text, .info8-text {
    text-align: $alineacion;
    margin-top: 10px;
}
.info4-img, .info7-img {
    display: flex;
    justify-content: $alineacion;
    & img{
        width: 80%;
        height: auto;      
    }
}
.info-gen7 {
    @include mixins.info-style($color-banners, $info-color3);
    width: 100%;
    border-radius: 0;
    text-align: $alineacion;
    color: black 
}
.info5-text {
    @include mixins.info-style($info-color2, $info-color3);
    & p {
        text-align: justify;
    }
}
.info7-text {
    @include mixins.info-style($info-color1, $info-color3);
    & p {
        text-align: justify;
    }
}
.video-ch {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}